<div [formGroup]="parentFormGroup">
  <div formArrayName="pollOptions">
    <div *ngFor="let option of pollOptions.controls; let i=index">
        <mat-form-field>
          <input #pollOptionsElts [formControlName]="i" matInput type="text"(blur)="onBlurOption(i)" (keyup.enter)="onEnter($event,i)" (keyup.backspace)="onDelete(i)">
        </mat-form-field>
        <button mat-icon-button (click)="tryRemoveOption(i)" [disabled]="disableDeleteOptions()">
          <i class="material-icons md-dark"  [class.md-inactive]="disableDeleteOptions()">delete</i>
        </button>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" value="Add Option" (focus)="addOptionAtEnd()">
      </mat-form-field>
    </div>
  </div>
</div>
