<mat-card *ngIf="poll">
  <mat-card-title>
    Manage {{poll.name}}
  </mat-card-title>
  <mat-card-subtitle>
    Poll Options
  </mat-card-subtitle>
  <mat-list-item *ngFor="let option of poll.options">
    {{option}}
  </mat-list-item>
  <br/>
  <mat-card-subtitle>
    Poll Recipients
  </mat-card-subtitle>
  <mat-list-item *ngFor="let ballot of poll.ballots" [ngClass]="{'ballot-complete': ballot.complete}">
    {{ballot.email}}
  </mat-list-item>
  <br/>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="poll.closed" (click)="closePoll()">Close Poll</button>
    <button mat-raised-button color="primary" [disabled] (click)="openAddRecipientsDialog()">Add Recipients</button>
  </mat-card-actions>
</mat-card>
<loading *ngIf="showSpinner"></loading>
