<mat-card *ngIf="ballot">
  <mat-card-title>
    {{ballot.pollName}}
  </mat-card-title>
  <div>
    <p>
      {{getMessage()}}
    </p>
  </div>
  <div>
    <mat-nav-list [sortablejs]="ballot.options" [sortablejsOptions]="getSortableOptions()">
      <mat-list-item *ngFor="let option of ballot.options" [disableRipple]="true" [draggable]="true">
        <i class="material-icons md-dark">reorder</i>
        <span>
          {{option.name}}
        </span>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div style="margin-top:20px;">
    <button mat-raised-button color="primary" (click)="submitBallot()" [disabled]="ballot.closed">Submit Ballot</button>
  </div>
</mat-card>
<loading *ngIf="showSpinner"></loading>
