<mat-card>
  <mat-card-title>
    Welcome to Better Polling
  </mat-card-title>
  <mat-card-content class="mat-body-1">
    This site was created to help users overcome the
    <a href="https://en.wikipedia.org/wiki/First-past-the-post_voting#Criticisms" target="_blank">
      issues
    </a>
    present in
    <a href="https://en.wikipedia.org/wiki/First-past-the-post_voting" target="_blank">
      first-past-the-post
    </a>
    voting, the voting method prevalent in internet polls and American
    politics. Develop a better consensus using our polls, whether you need to
    choose a restaurant among friends or decide the president of your
    organization.
  </mat-card-content>
  <br/>
  <mat-card-subtitle>
    Methodology
  </mat-card-subtitle>
  <mat-card-content class="mat-body-1">
      Currently, our platform will attempt to determine a
      <a href="https://en.wikipedia.org/wiki/Condorcet_method" target="_blank">
        Condorcet
      </a>
      winner. If there is none, we will return the winner of an
      <a href="https://en.wikipedia.org/wiki/Instant-runoff_voting" target="_blank">
        instant runoff
      </a>.
      <br/><br/>
      We hope to expand into more sophisticated methods in the near future and allow
      pollers to choose their preferred methods.
  </mat-card-content>
</mat-card>
